<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'polls/style.css' %}"
    />

    <title>Polls App - Index</title>
  </head>
  <body>
  <h1>Django Tutorial: Polling App</h1>
    <h3>What is this app?</h3>
    <p>
      This is a simple demonstration of my completion of
      <a
        link
        target="_blank"
        href="https://docs.djangoproject.com/en/3.2/intro/tutorial01/"
        >the official django introduction tutorial</a
      >.
    </p>
    <h3>What I learnt</h3>
    <ul>
      <li>Creating django projects & apps</li>
      <li>Implementing custom templates & styling</li>
      <li>Creating models, views and routes</li>
      <li>Working with jinja templating</li>
      <li>Ensuring scalability of app design</li>
      <li>Writing effective tests on models and views</li>
      <li>Customising the admin dashboard</li>
    </ul>
    <h3>Other web-related subjects I know but did not demonstrate here</h3>
    <ul>
      <li>JavaScript</li>
      <li>React</li>
      <li>Flask and Flask API</li>
      <li>Web pack / Babel</li>
      <li>Firebase</li>
      <li>Parse Server</li>
      <li>MongoDB</li>
      <li>PostgreSQL</li>
    </ul>
    <h3>Get in touch</h3>
    <ul>
      <li><a href="https://www.linkedin.com/in/paulwilson888/">https://www.linkedin.com/in/paulwilson888/</a></li>
    </ul>
    <h1><a link href="{% url 'polls:pollsindex' %}">Go to app</a></h1>
  </body>
</html>
