<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'polls/style.css' %}"
    />

    <title>Polls App - Index</title>
  </head>
  <body>
  <h1>Available Polls</h1>
  <a link href="{% url 'polls:index' %}">Back to homepage</a><br>

  <a class="a_large" link href="/admin">Login to custom admin site (admin, admin)</a>

    {% if latest_question_list %}
    <h3>Available Polls</h3>
    <ul>
      {% for question in latest_question_list %}
      <li>
        <a href="{% url 'polls:detail' question.id %}"
          >{{ question.question_text }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h3>No polls are available.</h3>
    {% endif %}
  </body>
</html>
